<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition</title>
    <link rel="stylesheet" href="/style.css">
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/logout" id="logout">logout</a>
    </header>
    <div id="content-wrap">
        <img src="/stop.png" alt="stop racism picture">
        {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js" charset="utf-8"></script>
</body>
</html> 