<div class="container">
    {{#rows}}
        <h2>Welcome {{first_name}}</h2>
        <h3>If You Are Against RACISM, Please Sign The Petition</h3>
    {{/rows}}
    <h2>Sign Here</h2>
    <div>            
        <form method='POST'>            
            <div>
                <input type="hidden" name="signeture">
                {{>csrf}}                
               <canvas id="canvas" width="500" height="150"></canvas>
            </div>
             <button type="submit">sign up</button>
        </form>
        {{#if message}}
            {{>msgBox}}
        {{/if}}
    </div>
</div> 