<div class="profile">
    <h2>Please provide some personal information (Optional)</h2>
    <div>            
        <form method='POST'>
            <input type='text' name='age' placeholder='Age' autocomplete='off' pattern="^[0-9]*$">
            <input type='text' name='city' placeholder='City' autocomplete='off' pattern="^[a-zA-Z ]+$">
            <input type='url' name='url' placeholder='Website' autocomplete='off' pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&amp;//=]*)">
            {{>csrf}}
            <button type="submit">continue</button>
         </form>
         
        {{#if message}}
            {{>msgBox}}
        {{/if}}
    </div>
</div> 