<div class="container">
    {{#rows}}
    <h2>
        Thanks {{first_name}} {{last_name}} for signing the petition
    </h2>
    <p>with your signature below, you are a registered signer of my petition</p>
    
     {{/rows}}    
     <img id="signeture" src="{{signeture}}" alt="signeture">
    <div>
         <p>There Are {{numberOfSigns}} people who signed this petition</p>
         <p>Click To See The Signers List </p>
         <div id = "options">
            <a href="/signslist">signersList</a>
            <a href="/profile-update">updateProfile</a>
            <a href="/delete-signeture">deleteSigneture</a>
         </div>
       
       
    </div>
      {{#if message}}
         {{>msgBox}}
      {{/if}} 
</div> 