<div class="thankyou">
    {{#rows}}
    <h2>
        thank you, {{firstName}} {{lastName}}, for signing my petition! 
    </h2>
    <p>with your signature below, you are a registered signer of my petition!</p>
    <img id="signeture" src="{{signeture}}" alt="signeture">
     {{/rows}}    
     
    <div class="container">
         <p>want to see the other {{numberOfSigns}} people who signed this petition?<br>
        then click the below to find out...</p>
        <a href="/signslist" id="listBtn">signs list</a>
    </div>
</div> 